.main-container {
  padding-top: 30px;
}

.text-center {
  text-align: center;
}

.register-col {
  img {
    display: block;
    margin: auto;
    margin-bottom: -30px;
  }

  .button {
    margin-bottom: 10px;
  }
}

.footer {
  padding-bottom: 20px;

  .content {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    margin-top: 100px;
  }
}

.push {
  padding-top: 7px;
}

.taxi-info {
  margin-bottom: 10px;
}

.checkout-btn {
  margin-top: 0px;
  width: 100%;
  margin-bottom: 10px;
}

.total {
  text-align: center;
  margin: 20px 0;

  span {
    display: block;
  }

  b {
    font-size: 40px;
  }
}

.home-section {
  padding: 200px 0;
  background: url(../img/home.jpeg) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

  .title, .subtitle {
    color: #fff;
    font-family: 'Oswald', sans-serif;
  }

  .title {
    font-weight: bold;
    font-size: 60px;
  }

  .subtitle {
    font-size: 30px;
  }
}

.home-section-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00d1b2;
  opacity: 0.3;
}

.col-whatget {
  margin-top: 50px;

  img {
    width: 120px;
  }

  h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    color: #00d1b2;
  }
}

.col-howitwork {
  margin-top: 50px;
}

.intro-h2.intro-h2 {
  line-height: 1.5em;
}

.section-howitwork {
  background: transparent;
}

.text-color.text-color.text-color {
  color: #00d1b2;
}

.col-howitwork {
  img {
    border-radius: 20px;
  }

  p {
    font-size: 16px;
  }
}

.section-register {
  background: #00d1b2;
  color: #fff;

  .title {
    color: #fff;
  }

  .button {
    border-radius: 50px;
  }
}

.fa-star, .fa-star-half-o, .fa-star-o {
  color: gold;
}

.is-block {
  width: 100%;
  margin-bottom: 10px;
}

.section-contact {
  margin-top: 50px;
}