doctype html
html
  head
    meta(charset='utf-8')
    title Checkout
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    // Header
    include header

    // Content
    .container.main-container
    
      .tile.is-ancestor
        .tile.is-8.is-vertical.is-parent
          .content
            h1.text-center Congratulations! Joe accepted your ride request.
            
            h3 Your ride detail
            .control.is-horizontal
              .control-label
                label.label From:
              .control
                p.push 300 Centre Road, Bentleigh, Victoria 3204.

            .control.is-horizontal
              .control-label
                label.label To:
              .control
                p.push 270 Flinders Lane, CBD, Melbourne

            .control.is-horizontal
              .control-label
                label.label Date:
              .control
                p.push Monday, Tuesday, Wednesday, Thursday, Friday

            .control.is-horizontal
              .control-label
                label.label Pickup Time:
              .control
                p.push 7:30 AM

            .control.is-horizontal
              .control-label
                label.label Arrival Time (Estimated):
              .control
                p.push 8:00 AM

            h3 Your driver detail
            .control.is-horizontal
              .control-label
                label.label Name:
              .control
                p.push Joe Bross

            .control.is-horizontal
              .control-label
                label.label Number Plate:
              .control
                p.push AA3123

            .control.is-horizontal
              .control-label
                label.label Phone:
              .control
                p.push 04061293112

            .control.is-horizontal
              .control-label
                label.label E-mail:
              .control
                p.push joebross@gmail.com


        .tile.is-parent
          .tile.is-child.box
            p.title Payment Detail
            p
              i.fa.fa-check
              | &nbsp;&nbsp;The best price for you.
            p
              i.fa.fa-check
              | &nbsp;&nbsp;Safe trips to your destination.
            p
              i.fa.fa-check
              | &nbsp;&nbsp;Enjoy your conversation on the ride.
            p.total
              span Your price
              b $3 / day
            a.button.is-primary.is-large.checkout-btn(href="#", onClick="Checkout.showLightbox();")
              i.fa.fa-credit-card
              | &nbsp;&nbsp;Pay for the trip
            p.text-center * 2% surcharge for non-Mastercard user

    include footer

    script(src='https://test-gateway.mastercard.com/checkout/version/36/checkout.js', data-error='errorCallback', data-cancel='cancelCallback')
    script(type='text/javascript').
      function errorCallback(error) {
        console.log(JSON.stringify(error));
      }
      function cancelCallback() {
        console.log('Payment cancelled');
      }
      Checkout.configure({
        merchant: 'TESTHACK30',
        order: {
          amount: function() {
          //Dynamic calculation of amount
          return 15.3;
        },
        currency: 'AUD',
        description: 'Ordered goods',
        id: '100'
        },
        interaction: {
          merchant: {
            name: 'Ride with Joe',
            address: {
              line1: '200 Sample St',
              line2: '1234 Example Town'
            }
          }
        }
      });
