footer.footer
  .container
    .content.has-text-centered
      p &copy; Copyright 2016 <a href="index.html">Ride with Me</a>. All rights reserved.

script(src='https://code.jquery.com/jquery-3.1.1.js')
script(type='text/javascript', src='https://maps.google.com/maps/api/js?key=AIzaSyDDycamY0vc0yQq6s3ih0rCaJrIxM1-HIs&libraries=places')
script(src='js/locationpicker.jquery.js')
script(src='js/scripts.js')