section.hero.is-primary
  // Hero header: will stick at the top
  .hero-head
    header.nav
      .container
        .nav-left
          a.nav-item
            h1 Ride with me
        span.nav-toggle
          span
          span
          span
        .nav-right.nav-menu
          a.nav-item.is-active
            | Home
          a.nav-item
            | How it works?
          a.nav-item
            | About Us
          span.nav-item
            a.button.is-primary.is-inverted(href="account.html")
              i.fa.fa-gear&nbsp;
              span Account