section.hero.is-primary
  // Hero header: will stick at the top
  .hero-head
    header.nav
      .container
        .nav-left
          a.nav-item(href="index.html")
            h1 Ride with me
        span.nav-toggle
          span
          span
          span
        .nav-right.nav-menu
          a.nav-item(href="search.html")
            | Find a driver
          a.nav-item(href="contact.html")
            | Contact
          a.nav-item.open-dropdown
            i.fa.fa-bell
            div.dropdown You have no notification.
          a.nav-item.open-dropdown
            i.fa.fa-comment-o
            div.dropdown You have no message.
          span.nav-item
            a.button.is-primary.is-inverted(href="account.html")
              i.fa.fa-gear&nbsp;
              span Account