doctype html
html
  head
    meta(charset='utf-8')
    title Register
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    // Header
    include header

    // Content
    .container.main-container
      .content.is-medium
        h1.text-center Who are you?
        p.text-center Choose one.

      .columns.register-col
        .column.text-center
          img(src="img/car.png", alt="")
          a.button.is-primary.is-outlined.is-large I am Driver.
          p I drive to work place every day.
        .column.text-center
          img(src="img/psg.png", alt="")
          a.button.is-primary.is-outlined.is-large I am Passenger.
          p I am looking for a ride.

    include footer